/*
 * -------------------------------------------------
 *  Nextflow config file for Chan Zuckerberg Biohub
 * -------------------------------------------------
 * Defines reference genomes, using iGenome paths
 * Imported under the default 'standard' Nextflow
 * profile in nextflow.config
 */

 //Profile config names for nf-core/configs
 params {
   config_profile_description = 'Chan Zuckerberg Biohub AWS Batch profile provided by nf-core/configs.'
   config_profile_contact = 'Olga Botvinnik (@olgabot)'
   config_profile_url = 'https://www.czbiohub.org/'
 }

docker {
  enabled = true
}

process {
  executor = 'awsbatch'
}

params {
  saveReference = true

  // Largest SPOT instances available on AWS: https://ec2instances.info/
  max_memory = 1952.GB
  max_cpus = 96
  max_time = 240.h

}
