/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run nf-core/methylseq -profile test
 */

params {
  max_cpus = 2
  max_memory = 6.GB
  max_time = 48.h
  // Input data
  hdr = true
  trim_pattern = '_+S\\d+'
  readPaths = [
    ['mNGplate11_sorted_A10_PATZ1-N__S9',
      ["https://github.com/czbiohub/test-datasets/raw/crisprvar/testdata/hdr/mNGplate11_sorted_A10_PATZ1-N__S9_R1_001.fastq.gz",
       "https://github.com/czbiohub/test-datasets/raw/crisprvar/testdata/hdr/mNGplate11_sorted_A10_PATZ1-N__S9_R2_001.fastq.gz"]],
    ["mNGplate11_sorted_A11_KDELR3-C__S10",
      ["https://github.com/czbiohub/test-datasets/raw/crisprvar/testdata/hdr/mNGplate11_sorted_A11_KDELR3-C__S10_R1_001.fastq.gz",
       "https://github.com/czbiohub/test-datasets/raw/crisprvar/testdata/hdr/mNGplate11_sorted_A11_KDELR3-C__S10_R2_001.fastq.gz"]],
    ["mNGplate11_sorted_A12_MYH9-C__S11",
      ["https://github.com/czbiohub/test-datasets/raw/crisprvar/testdata/hdr/mNGplate11_sorted_A12_MYH9-C__S11_R1_001.fastq.gz",
       "https://github.com/czbiohub/test-datasets/raw/crisprvar/testdata/hdr/mNGplate11_sorted_A12_MYH9-C__S11_R2_001.fastq.gz"]],
  ]
  samplesheet = "https://github.com/czbiohub/test-datasets/raw/crisprvar/testdata/hdr/samplesheet.csv"
  adapters = "https://github.com/czbiohub/test-datasets/raw/crisprvar/testdata/nhej/TruSeq3-PE-2.fa"
}
